* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'ヒラギノ明朝 ProN W3',"游ゴシック体","游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","Yu Gothic Medium", "游ゴシック Medium","游ゴシック体",  "メイリオ", sans-serif;
}

.alert, .notice {
  margin-bottom: 0px;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

header {
  background-image: url("/images/3416530_s.jpg");
  background-size: cover;
  height: 700px;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}

#show-main {
  position:relative;
  color: #FF0461;
  width:100%;
  height:900px;
  background: #FFCC99;
  background-image: url("/images/952435_s.jpg");
  background-size: cover;
}

.show-message {
  position:absolute;
  left:5%;
  top: 10%;
  width:500px;
  z-index:1;
  font-size: 24px;
  max-width: 300px;
}

.show-post {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 10%;
}

.show_bottom-content{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
}

.show-button_left {
  position: absolute;
  bottom: 5%;
  left: 20%;
  z-index: 2;
}
.show-button_right {
  position: absolute;
  bottom: 5%;
  right: 20%;
  z-index: 2;
}

.show-button_center {
  position: absolute;
  top: 3%;
  right: 10%;
  z-index: 2;
}

.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #FFCC99;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: .4s;
  cursor: pointer;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

#mypagewrap {
  overflow: hidden;
  padding-bottom: 130px;
}

.mypage-heading {
  font-size: 34px;
  line-height: 40px;
  padding-top: 50px;
  margin-left: 60px;
}

.mypage_message_body {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #AAAAAA solid;
  height: 100px;
  color:#000;
  position: relative;
}

.navbar {
  margin-top: 20px;
}
.nav-item {
  width: 130px;
  margin-left: 30px;
}
.nav-link {
  width: 100%;
}
.index-nav {
  color: rgba(255,255,255,0.9)!important;
}

.main_img {
  width: 100%;
}

.all_contnnt_body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header_top > .tagsinput {
  width: 60%!important;
}

.reserv_post {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  width: 40px;
  height: 150px;
  right: 0;
  bottom: 300px;
  font-size: 20px;
  color: #fff;
  background: #000;
  cursor: pointer;
  z-index: 9999;
}

.reserv_mypage {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  width: 40px;
  height: 150px;
  right: 0;
  bottom: 100px;
  font-size: 20px;
  color: #fff;
  background: #000;
  cursor: pointer;
  z-index: 9999;
}

.reserv_postout {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  width: 40px;
  height: 150px;
  right: 0;
  bottom: 300px;
  font-size: 20px;
  color: #fff;
  background: #000;
  cursor: pointer;
  z-index: 9999;
}

.reserv_mypageout {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  width: 40px;
  height: 150px;
  right: 0;
  bottom: 100px;
  font-size: 20px;
  color: #fff;
  background: #000;
  cursor: pointer;
  z-index: 9999;
}

.rec_body {
  float: right;
  position: relative;
  top: -200px;
  margin-right: 5%;
  padding: 15px 0;
  color: rgb(255,255,255);
}

.button_wrap {
  margin: 70px auto;
  text-align: center;
  margin-left: -5%;
}

.single {
  overflow: hidden;
  position: relative;
  max-width: 860px;
  padding-bottom: 130px;
}

.single > .post-heading {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.post-explanation {
  margin: 32px 0;
  font-size: 14px;
}

.explanation-title {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.explanation-show {
  list-style: none;
}

.explanation-show > li {
  padding-bottom: 10px;
}

.inputInformation {
  text-align: center;
  font-size: 16px;
  padding: 40px 0;
}

.tagsinput {
  width: 100%;
}

.buttonContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

.guestContainer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.buttonConfirm {
  display: block;
  margin: 30px auto;
  width: 260px;
  height: 60px;
  background-color: #002247;
  text-align: center;
  border: 1px #002247 solid;
  line-height: 50px;
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 30px;
}

.buttonGuest {
  display: block;
  margin: 30px auto;
  width: 260px;
  height: 60px;
  background-color: #FFCC99;
  text-align: center;
  border: 1px #FFCC99 solid;
  line-height: 50px;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 30px;
}

.buttondestroy {
  display: block;
  margin: 30px auto;
  width: 260px;
  height: 60px;
  background-color: #FF3366;
  text-align: center;
  border: 1px #FF3366 solid;
  line-height: 50px;
  font-size: 16px;
  letter-spacing: 0.1em;
  border-radius: 30px;
}

.confirmation_message {
  border: 1px #FF3366 solid;
  height: 100px;
  position: relative;
}

.confirmation_message > .svg-inline--fa {
  position: absolute;
  font-size: 24px;
  top: 20px;
  left: 20px;
  color: #FF3366
}

.confirmation_message > .confirmation_text  {
  padding-top: 10px;
}

.confirmation_message > .confirmation_text > p {
  text-align: center;
  font-size: 24px;
  margin: 0;
  color: #FF3366;
}

.login-title {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #AAAAAA solid;
}

.login-form {
  background: rgba(126,126,126,0.08);
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.login-name {
  font-size: 14px;
  padding: 5px 0;
  text-align: left;
}

.login-field {
  font-size: 14px;
  border: 1px solid #ccc;
  min-height: 1.8em;
  padding: 3px, 5px;
}

.login-content {
  padding-left: 50px;
  padding-right: 50px;
}

.notlogin-text {
  margin-top: 50px;
}

.confirmation_form {
  margin-bottom: 10px;
  padding-left: 50px;
}
.confirmation_wrap {
  font-weight: bold;
}

footer {
  padding: 0 5px 5px 5px;
  margin: 0 auto;
  background-color: white;
}

.btn-primary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
  cursor: auto;
}

.balloon {
margin-bottom: 10px;
position: relative;
z-index: -1;
}

.balloon:before,.balloon:after {
clear: both;
content: "";
display: block;
}

.balloon-name-left {
float: left;
margin-right: 20px;
}

.balloon-name-description {
padding: 20px 0 0;
font-size: 10px;
text-align: center;
}

.balloon-text-right,.balloon-text-left {
position: relative;
padding: 10px;
border: 1px solid;
border-radius: 10px;
max-width: -webkit-calc(100% - 120px);
max-width: calc(100% - 120px);
display: inline-block;
}

.balloon-text-right {
border-color: #aaa;
float: left;
}

.balloon-text-left {
border-color: #aaa;
background-color: #E9E2D0;
float: right;
}

.balloon p {
margin: 0 0 20px;
}

.balloon-text-right:before {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #aaa;
top: 15px;
left: -20px;
}

.balloon-text-right:after {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #fff;
top: 15px;
left: -19px;
}

.balloon-text-left:before {
position: absolute;
content: '';
border: 10px solid transparent;
border-left: 10px solid #aaa;
top: 15px;
right: -20px;
}

.balloon-text-left:after {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #E9E2D0;
  top: 15px;
  right: -19px;
}

.message_color {
  background-color:#ffcc99;
}

#message_header {
  position: fixed;
  background-color: #FFF;
  width: 100%;
  border-bottom: 1px solid #CCC;
}

#message-container {
  margin: 0 auto;
  padding: 4rem 1rem 8rem 1rem;
}

.main_body {
  clear: both;
  position: relative;
  top: -100px;
}

.main_title {
  top:-200px;
  text-align: left;
  margin-left: 100px;
}

.main_wrap{
  margin: 50px 0 50px 0;
}

.main_content {
  background-color: #E9E2D0;
  height: 450px;
  position: relative;
  margin-bottom: 60px;
  border-radius: 5px;
}

.main_card {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  background: #E9E2D0;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
    &:hover {
    background: rgba(255, 217, 159, 0.3);
  }
}

.main_card h2 {
  color: #333;
  padding: 0;
  font-size: 20pt;
  margin: 20px 0 10px 20px;
}

.main_card p {
  color: #555;
  font-size: 15px;
  margin-left: 20px;
}

.card_tag {
  margin-left: 20px;
}

.index_tag {
  word-wrap: normal;
}

.card_time {
  position: absolute;
  right: 10px;
  bottom: 0;

}

.cp_breadcrumb *, .cp_breadcrumb *:after, .cp_breadcrumb *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cp_breadcrumb {
  overflow: hidden;
  width: 100%;
  list-style: none;
  background: #EEE;
  padding-top:100px;
  margin: 0;
}

.cp_breadcrumb li {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 0;
  letter-spacing: 6px;
}

.cp_breadcrumb a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0.7em 1em 0.7em 2em;
  text-decoration: none;
  color: #000;
  background-color: #BBB;
}

.cp_breadcrumb li:first-child a {
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.cp_breadcrumb a::after,
.cp_breadcrumb a::before {
  position: absolute;
  top: 50%;
  right: -1.5em;
  margin-top: -1.48em;
  content: '';
  border-top: 1.48em solid transparent;
  border-bottom: 1.48em solid transparent;
  border-left: 1.5em solid;
}

.cp_breadcrumb a::after {
  z-index: 2;
  border-left-color: #BBB;
}

.cp_breadcrumb a::before {
  z-index: 1;
  right: -1.8em;
  border-left-color: #ffffff;
}

.cp_breadcrumb li:nth-child(2) a       { background:        #CCC; }
.cp_breadcrumb li:nth-child(2) a:after { border-left-color: #CCC; }
.cp_breadcrumb li:nth-child(3) a       { background:        #DDD; }
.cp_breadcrumb li:nth-child(3) a:after { border-left-color: #DDD; }
.cp_breadcrumb li:nth-child(4) a       { background:        #EEE; }
.cp_breadcrumb li:nth-child(4) a:after { border-left-color: #EEE; }
.cp_breadcrumb li:nth-child(5) a       { background:        #FFF; }
.cp_breadcrumb li:nth-child(5) a:after { border-left-color: #FFF; }

.cp_breadcrumb li:last-child a {
  cursor: default;
  pointer-events: none;
  color: black;
  border-radius: 0 5px 5px 0;
}

.cp_breadcrumb li:last-child a:hover {
  background: none;
}

.cp_breadcrumb li:last-child a::before,
.cp_breadcrumb li:last-child a::after {
  content: normal;
}

.footervisual {
  background-image: url("/images/3707124_l.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  display: block;
  top: 0;
  left: 0;
}

.footer_wrap {
  background: rgba(255,255,255,0.7);
  height: 100%;
  position: relative;
}

.footer_left {
  display: inline-block;
  width: 70%;
  padding-left: 2%;
  padding-top: 50px;
}

.footer_right {
  position: absolute;
  top:50px;
  right: 150px;
}

.footer_right > .svg-inline--fa {
  float: right;
  font-size: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.footer_right > a > .svg-inline--fa {
  float: right;
  font-size: 50px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #000;
}

.footer_log {
  clear: both;
  text-align: right;
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.view-more {
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #282936;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: #fff;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: #FFF;
    }
  }
}


.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.paginete_wrap {
  position: relative;
}

.pagination {
  position: relative;
  left: 50%;
  float: left;
}

.page-item {
  position: relative;
  left: -50%;
  float: left;
}


@media screen and (max-width: 992px) {
  .cp_breadcrumb { display: none; }
  #show-main { margin-top:150px;}
  .show-message { max-width: 800px; }
  .show-message { top: 2%; right: 20%; }
  .show-button_center { padding-top: 100px; }
  .all_contnnt_body { margin-top: 120px; }
  #wrap { margin-top: 120px; }
  #newwrap { margin-top: 120px; }
  #mypagewrap { margin-top: 120px; }
  .footervisual { height: 500px; }
  .footer_right { position: relative; top: 30px; right: 0px; }
  .svg-inline--fa { float: left; }
  .footer_log { float: left; }
  .footer_left > h3 { font-size: 18px; }
  .footer_left > h4 { font-size: 16px; }
  .show-post { width: 100%; left: 10%; }
  .confirmation_message > .confirmation_text { padding-top: 25px; }
  .confirmation_message > .confirmation_text > p { font-size: 16px; }
}

@media screen and(max-width: 576px) {
  .footervisual { height: 600px; }
}
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
