<footer>
  <div class="footervisual">
    <div class="footer_wrap">
      <div class="footer_left">
        <h3 style="padding-bottom:10px;">当サイトの不明点・不具合・ご要望は<br>こちらまでお問い合わせください。</h3>
        <h4 style="line-height:30px;">また、当方、WEBページ作成など承っています。</h4>
        <h4 style="line-height:30px;">気軽にtwitter、facebook、メールに<br>お問い合わせください。</h4>
      </div>
      <div class="footer_right">
        <p style="font-size:40px;">お問い合わせ先</p>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-facebook-square"></i>
          <%= mail_to 'yuya92220087@gmail.com' do %>
            <i class="fas fa-envelope"></i>
          <% end %>
        <p class="footer_log">© 2020　ノシ将棋</p>
      </div>
    </div>
  </div>
</footer>
